@import "tailwindcss";

.dotted-background {
  background-color: #0a111f;
  background-image: radial-gradient(#4a5568 1px, transparent 1px);
  background-size: 30px 30px;
}


/* Styling for sections */
.section-box {
  background: #f8fafc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}